/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.css'; */

/* @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js); */
/* @import url(https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js);*/
 @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css);  

body{ padding: 20px;}

.form-control.ng-touched.ng-invalid{

    border: 2px solid red;

}

.checkbox{
    padding-left: 2%;
}